@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: ##fafaf9;
}

body {
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
